
MLOps/MLEP-public/
Projects/Ironhacks_Unemployment/Models/RF_v1-7.pkl
Projects/Poly-Dash/.vscode/settings.json
Projects/Sensor Fusion/data/train/deprecated/Drive2_ImgS1.csv
Projects/Sensor Fusion/data/train/deprecated/Drive2_ImgS2.csv
Projects/Sensor Fusion/data/train/S1/D1S1_Home.csv
Projects/Sensor Fusion/data/train/S1/D1S1_ParkingGarage.csv
Projects/Sensor Fusion/data/train/S1/D1S1_Roam.csv
Assignments/CNIT-571/A2/base-data
Assignments/CNIT-571/A2/predictions
Assignments/CNIT-571/A3/german.data
Assignments/CNIT-571/sample.csv
Assignments/CNIT-571/A4/german.data
Projects/MLOps Drift Detection and Pipeline Optimization/.env
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_training_data.csv
Projects/MLOps Drift Detection and Pipeline Optimization/data/Telco-Churn.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/evidently_report.html
Projects/MLOps Drift Detection and Pipeline Optimization/tests/feature_metadata.json
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_featureImp.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_raw_data-V2.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_test_data-V2.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_training_data-V2.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/baseline_raw_test-V2.csv
Projects/MLOps Drift Detection and Pipeline Optimization/tests/drift-reports/evidently_report-V2.html
Projects/MLOps Drift Detection and Pipeline Optimization/.docker-compose.yaml.un~
Projects/MLOps Drift Detection and Pipeline Optimization/docker-compose.yaml~
Projects/MLOps Drift Detection and Pipeline Optimization/mlflow/Dockerfile~
Projects/MLOps Drift Detection and Pipeline Optimization/mlflow/requirements.txt~
Projects/MLOps Drift Detection and Pipeline Optimization/tests/__pycache__/AdaptiveDDLA.cpython-311.pyc
Projects/MLOps Drift Detection and Pipeline Optimization/tests/__pycache__/DriftDetection.cpython-311.pyc
Projects/MLOps Drift Detection and Pipeline Optimization/tests/AdaptiveDDLA.py
*.csv
*.json
*.png
